.logo {
  @include verticalCenter;
  margin: 5px auto;
  width: 100%;
  height: 300px;
  padding: 5px 0;
  box-shadow: 0 2px 3px rgba(141, 129, 129, 0.307);
  background: url(../../assets/img/marsa2.png) center/cover;

  img {
    height: 100px;
    position: relative;
    top: -200px;
    left: 200PX;
  }

  h3 {
    margin-left: -230px;
    color: rgb(179, 180, 182);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}